<div class="container">
  <div class="template-container relative" contenteditable="true" spellcheck="false">
    <img src="assets/sikh wedding template.jpg" class="">
    <div class="absolute text-container">
      <div class="bride-groom-names mx-auto">
        Aanchal & Shashank
      </div>
      <div class="invitors mx-auto">
        Mr. & Mrs. Kaur
      </div>
      <div class="invitors-subtext">
        Request the pleasure of your company on the auspicuoius occasion of the marriage of their daughter
      </div>

      <div class="dates">
        <div class="relative reception-date">
          <div class="receptions-text">
            Reception
          </div>
          <div class="reception-number">
            23 March 2021
          </div>
        </div>
        <div class="relative wedding-date">
          <div class="wedding-text">
            Wedding
          </div>
          <div class="wedding-number">
            25 March 2021
          </div>
        </div>
      </div>

      <div class="finisher">
        <img src="assets/332-3326496_underline-design-and-simple-design-hand-drawn-elements-removebg-preview.png">
      </div>

    </div>
  </div>

</div>


<div class="flex space-x-4 my-6 cta-tbn">
  <div class="download-btn ml-auto">
    <a (click)="downloadProduct()"
      class="cursor-pointer inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-400 rounded shadow ripple hover:shadow-lg hover:bg-green-500 focus:outline-none waves-effect">
      Download
    </a>
  </div>

  <div class="Donate-btn">
    <a (click)="DonateProduct()"
      class="cursor-pointer inline-block px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-green-400 rounded shadow ripple hover:shadow-lg hover:bg-green-500 focus:outline-none waves-effect">
      Donate
    </a>
  </div>
</div>
